/**
 * Created with JetBrains WebStorm.
 * User: Hkx
 * Date: 14-5-8
 * Time: 下午5:46
 */
*{
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
body{
	background: #F4F4F4;
}
.header-census{
	height: 45px;
	line-height: 45px;
	background: white;
	border-bottom: 1px solid #d4d4d4;
	/*-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);*/
	/*-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);*/
	/*box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);*/
}
.header-fl-nav{}
.header-fl-nav:after{
	clear:both;
	content:'.';
	height:0;
	visibility:hidden;
	display:block;
}
.header-fl-nav .header-fl-nav__l{
	float: left;
}
.header-fl-nav .header-fl-nav__l .nav__l-wrap{
	border: 1px solid #D8D8D8;
	border-radius: 4px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 7px 4px;
}
.header-fl-nav .header-fl-nav__r{
	float: right;
}
.header-fl-nav .header-fl-nav__r .nav__r-wrap{
	border: 1px solid #D8D8D8;
	border-radius: 4px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 7px 4px;
}
.header-fl-nav .header-fl-nav__center{
	text-align: center;
}
.header-fl-nav .header-fl-nav__l .leftText{
	font-size: 12.5px;
	color: #27d0a7;
	margin-left: -5px;
}
.header-fl-nav .header-fl-nav__r .rightText{
	font-size: 12.5px;
	color: #27d0a7;
	margin-left: -5px;
}
.header-fl-nav .header-fl-nav__center .centerText{
	font-size: 18px;
	font-weight: bold;
}
.section .article-button{
	padding: 10px;
}
.section .article-button .article-button__wrap{
	background-color: white;
}
.article-button__wrap .buttonBox{
	width: 120px;
	margin: 0 auto;
	color: #27d0a7;
	font-size: 14px;
	font-weight: bold;
}
/*============*/
/*=====layout=======*/
/*============*/
.flex-parent{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow:row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow:row wrap;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
.flex-child{
	-webkit-box-flex: 1;
	-moz-box-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}