/**
 * Created with JetBrains WebStorm.
 * User: Hkx
 * Date: 14-5-7
 * Time: 下午5:19
 */

/*============*/
/*=====common=======*/
/*============*/
.img{
	vertical-align: middle;
}
.user-img{
	margin-left: 10px;
}
.first-border{
	border: 1px solid #d4d4d4;
}
.last-border{
	border-left: none;
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
}
.button{
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	/*border: 1px solid #d4d4d4;*/
	height: 35px;
	line-height: 35px;
	font-weight: 300;
	font-size: 14px;
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #666666;
	text-shadow: 0 1px 1px white;
	margin: 0;
	text-decoration: none;
	text-align: center;
}
.tipsBoundBall{
	position: absolute;
	width: 10px;
	height: 10px;
	background: #f16967;;
	-webkit-border-top-left-radius: 4px;
	   -moz-border-top-left-radius: 4px;
	        border-top-left-radius: 4px;
	margin-left: -10px;
	margin-top: -10px;
}
.set{
	border-bottom: 1px solid #cdcdcd;
}
.subInputText,.subTextArea{
	margin-top: 10px;
}
.subButton{
	margin-top: 10px;
}
.subButton .subButton-button{
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	border: 1px solid #27d0a7;
	background: #27d0a7;
	height: 40px;
	line-height: 40px;
	font-weight: 300;
	font-size: 16px;
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #FFF;
	text-shadow: 0 1px 1px black;
	margin: 0;
	text-decoration: none;
	text-align: center;
	display: block;
}
.subInputText .sub-textInput{
	width: 100%;
	height: 34px;
	font-size: 14px;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.subTextArea .subButton-textarea{
	display: block;
	width: 100%;
	height: 60px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.subInputText .sub-textInput:focus{
	outline: none;
}

