/**
 * Created with JetBrains WebStorm.
 * User: Hkx
 * Date: 14-5-9
 * Time: 上午10:13
 */
*{
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
body{
	background: #F4F4F4;
}
.header-work{
	height: 45px;
	line-height: 45px;
	background: white;
	border-bottom: 1px solid #d4d4d4;
	/*-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);*/
	/*-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);*/
	/*box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);*/
}
.header-fl-nav{}
.header-fl-nav:after{
	clear:both;
	content:'.';
	height:0;
	visibility:hidden;
	display:block;
}
.header-fl-nav .header-fl-nav__l{
	float: left;
}
.header-fl-nav .header-fl-nav__l .nav__l-wrap{
	border: 1px solid #D8D8D8;
	border-radius: 4px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 7px 4px;
}
.header-fl-nav .header-fl-nav__r{
	float: right;
}
.header-fl-nav .header-fl-nav__r .nav__r-wrap{
	border: 1px solid #D8D8D8;
	border-radius: 4px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 7px 4px;
}
.header-fl-nav .header-fl-nav__center{
	text-align: center;
}
.header-fl-nav .header-fl-nav__l .leftText{
	font-size: 12.5px;
	color: #27d0a7;
	margin-left: -5px;
}
.header-fl-nav .header-fl-nav__r .rightText{
	font-size: 12.5px;
	color: #27d0a7;
	margin-left: -5px;
}
.header-fl-nav .header-fl-nav__center .centerText{
	font-size: 18px;
	font-weight: bold;
}
.article-work{
	padding: 10px;
}
.article-work-list{
	background: white;
	border: 1px solid #e9e9e9;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: #c9c9c9 0px 3px 0px 0px;
	   -moz-box-shadow: #c9c9c9 0px 3px 0px 0px;
	        box-shadow: #c9c9c9 0px 3px 0px 0px;
}
.article-work-list__title{
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
	font-weight: bold;
	background: rgb(245, 85, 92);;
}
.article-work-list__content{
	margin-top: 10px;
}
.article-work-list__content .content-title{
	color: #7a7a7a;
	overflow: hidden;
}
.article-work-list__content .content-title,.content-sub{
	padding: 10px;
	line-height: 20px;
}
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	background: white;
	border-top: 1px solid #d4d4d4;
}