/**
 * Created with JetBrains WebStorm.
 * User: Hkx
 * Date: 14-5-7
 * Time: 下午3:39
 */
*{
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
body{
	background: #F4F4F4;
}
.header{
	height: 90px;
	line-height: 90px;
	background-color: white;
	border-bottom: 1px solid #cdcdcd;
}
.header.header-bg{
	background-image: url(../images/background.jpg);
}
.header-userInfo{}
.header-userInfo .userName{
	color: white;
}
.section{
	padding-bottom: 55px;
}
.section .article-button,.section .article-list{
	padding: 10px;
}
.section .article-button .article-button__wrap{
	background-color: white;
}
.article-button__wrap .buttonBox{
	width: 120px;
	margin: 0 auto;
	color: #27d0a7;
	font-size: 14px;
	font-weight: bold;
}
.article-list .article-list__wrap{
	background: white;
	padding: 10px;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}
.article-list__wrap .list-title{}
.article-list__wrap .list-content{
	margin-top: 18px;
	line-height: 22px;
	font-size: 14px;
	color: #5e5e5e;
}
.article-list__wrap .list-title .list-title__first{
	color: #00a5ff;
	font-size: 18px;
}
.article-list__wrap .list-title .list-title__date{
	color: #5e5e5e;
	font-size: 14px;
	margin-left: 30px;
}
.footer{}
.footer-nav{
	height: 50px;
	width: 100%;
	display: block;
	position: fixed;
	bottom: 0;
}
.footer-nav-wrap{
	border-top: 1px solid #cdcdcd;
	background: white;
}
.footer-nav__menu{}
.footer-nav__menu .nav__menu-box{
	margin: 0 auto;
	width: 50px;
	text-align: center;
}
.footer-nav__menu .nav__menu-box .icon{
	display: block;
	height: 30px;
	background: #F4F4F4;
}
.footer-nav__menu .nav__menu-box .icon.one{
	background:url(../images/book.png)no-repeat center center;
	background-size: 30px 30px;
}
.footer-nav__menu .nav__menu-box .icon.two{
	background:url(../images/books.png)no-repeat center center;
	background-size: 30px 30px;
}
.footer-nav__menu .nav__menu-box .icon.three{
	background:url(../images/graduate.png)no-repeat center center;
	background-size: 25px 25px;
}
.footer-nav__menu .nav__menu-box .icon.four{
	background:url(../images/star.png)no-repeat center center;
	background-size: 30px 30px;
}
.footer-nav__menu .nav__menu-box .icon.five{
	background:url(../images/descendant.png)no-repeat center center;
	background-size: 25px 25px;
}
.footer-nav__menu .nav__menu-box .iconText{
	display: block;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #5e5e5e;
}

/*============*/
/*=====layout=======*/
/*============*/
.flex-parent{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow:row wrap;
	   -moz-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow:row wrap;
	-webkit-justify-content: space-around;
	   -moz-justify-content: space-around;
	    -ms-justify-content: space-around;
	        justify-content: space-around;
}
.flex-child{
	-webkit-box-flex: 1;
	-moz-box-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}