/**
 * Created with JetBrains WebStorm.
 * User: Hkx
 * Date: 14-5-7
 * Time: 下午4:33
 */
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
}
@media only screen and (min-width: 950px) and (max-width: 1366px) {
	.section{
		width: 75%;
		float: right;
	}
	.footer-nav{
		padding: 10px;
		width: 230px;
		display: block;
		position: fixed;
		top: 91px;
		height: 100%;
		background: white;
	}
	.footer-nav-wrap{
		display: block;
		background: white;
		border-top: none;
	}
	.footer-nav-wrap:after{
		clear:both;
		content:'.';
		height:0;
		visibility:hidden;
		display:block;
	}
	.footer-nav__menu{
		display: block;
		float: left;
		width: 112px;
		height: 80px;
	}
	.footer-nav__menu .nav__menu-box .icon {
		display: block;
		height: 50px;
		background: #F4F4F4;
	}
	.footer-nav__menu .nav__menu-box .iconText{
		font-size: 14px;
	}
}
@media only screen and (min-width: 1024px) {}
